<div class="chat">

    <div class="chat-container">
        <div class="chat-listcontainer">
            <ul class="chat-message-list">
            </ul>
        </div>
    </div>

    <div class="user-chat type-js">
        <textarea class="user-message text-js">Say something...</textarea>
    </div>

</div>

@code {

}
