@page "/"

@using System.Runtime.InteropServices
@using MLNetOnGithub.Components.Chat

<PageTitle>MLNet.github.io</PageTitle>

<p>
    @@fact(3) result: @fact(3), @test()
</p>
<Chat></Chat>


@code {
    [DllImport("Test")]
    static extern int fact(int n);

    [DllImport("gpt-2")]
    static extern int test();
}