@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <main>
        <article class="content px-4">
            <MudAppBar Class="mb-2" Color="Color.Primary" Fixed="false">
                <MudIconButton Icon="@Icons.Material.Filled.AlternateEmail" Color="Color.Inherit" Edge="Edge.Start" />
                <MudText>WASM-GPT</MudText>
                <MudSpacer />
                <MudLink Href="https://alexwang0311.github.io/" Color="Color.Inherit" Target="_blank">About</MudLink>
            </MudAppBar>

            @Body
        </article>
    </main>
</div>
